<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- build:basejs scripts/base-core.js-->
        <!--bower:basejs-->
        <!-- requirejs 、 glue 组件版本-->
        <!--endbower-->
        <!--endbuild-->

        <!-- build:css styles/gjzk_depmodules.css-->
        <!-- bower:css -->
        <!--引用组件的css-->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/gjzk_depmodules_pc.css device:pc-->
        <!-- bower:css device:pc-->
        <!--引用组件的css-->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/gjzk_depmodules_mobile.css device:mobile-->
        <!-- bower:css device:mobile-->
        <!--引用组件的css-->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/gjzk_depmodules_pad.css device:pad-->
        <!-- bower:css device:pad-->
        <!--引用组件的css-->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/gjzk_main.css lib-->
        <link rel="stylesheet" href="styles/gjzk.css"/>
        <!--项目自身的css文件-->
        <!--endbuild-->

        <!-- build:css styles/gjzk_main_pad.css lib device:pad-->
        <!--endbuild-->

        <!-- build:css styles/gjzk_main_mobile.css lib device:mobile-->
        <!--endbuild-->

        <!-- build:css styles/gjzk_main_pc.css lib device:pc-->
        <!--endbuild-->
    </head>
    <body>

        
        <!-- build:requirejs scripts/gjzk_depmodules.js-->
        <!--bower:requirejs-->
        <!--依赖组件的配置-->
        <!--endbower-->
        <!--endbuild-->

        <!-- build:requirejs scripts/gjzk_depmodules_pad.js device:pad-->
        <!--bower:requirejs device:pad-->
        <!--依赖组件的配置-->
        <!--endbower-->
        <!--endbuild-->

        <!-- build:requirejs scripts/gjzk_depmodules_mobile.js device:mobile-->
        <!--bower:requirejs device:mobile-->
        <!--依赖组件的配置-->
        <!--endbower-->
        <!--endbuild-->

        <!-- build:requirejs scripts/gjzk_depmodules_pc.js device:pc-->
        <!--bower:requirejs device:pc-->
        <!--依赖组件的配置-->
        <!--endbower-->
        <!--endbuild-->
        

        <!-- build:js scripts/gjzk_main.js lib-->
        <script src="scripts/version.js"></script>
        
        
        <!--项目自身的js文件-->
        <!--endbuild-->

        <!-- build:js scripts/gjzk_main_pad.js lib device:pad-->
        <!--endbuild-->

        <!-- build:js scripts/gjzk_main_mobile.js lib device:mobile-->
        <!--endbuild-->

        <!-- build:js scripts/gjzk_main_pc.js lib device:pc-->
        <!--endbuild-->


        <!-- 以标签方式注册一个组件 -->
        <!--
        <div g-cid="widgetId" g-cname="gjzk" g-depId="" g-priority="1" g-option"{'model.propertyName': '@@outModel.propertyName'}"></div>
        -->
        <script>
            // 以命令行方式注册一个组件
            // glue.widgetRegist('srcNode', 'widgetId', 'gjzk', 'depWidgetId', 'priority', {
            //   'model.propertyName': '@@outModel.propertyName'
            // });

            // 直接创建一个组件
            // require(['gjzk'], function(gjzk) {
            //   new gjzk(glue).create(srcNode, options);
            // });

            // 扫描组件
            // glue.scan();
            // 运行组件
            // glue.run();
        </script>

    </body>
</html>
