header{
    margin-bottom: 56px;
}
.reread-container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.section-1{
    height: 454px;
    margin-bottom: 30px;
}
.reread-head-pc{
    z-index: 5;
    display: inline-block;
}
.reread-head-iphone{
    display: none;
}
.reread-head-pc .reread-head-time{
    position: absolute;
    z-index: 2;
    top: 104px;
    left: 28px;
    color: #a0a0a0;
    font-size: 14px;
    font-family: Arial;
}
.reread-head-pc .reread-head-number{
    position: absolute;
    z-index: 2;
    top: 128px;
    left: 43px;
    color: #a0a0a0;
    font-size: 12px;
    font-family: Arial;
}
.reread-head-pc .reread-head-number span{
    color:#e46e7e ;
    font-size: 16px;
}
.reread-container .title{
    z-index: -1;
    position: relative;
    left: -45px;
    top: -88px;
    display: inline-block;
    width: 492px;
    height: 130px;
    background-color: #535353;
    font-family: "Microsoft YaHei";
    color: white;

}
.reread-container .title .h1{
    font-size: 40px;
}
.reread-container .title .h2{
    font-size: 30px;
}
.reread-container .title .title-container{
    position: relative;
    left: 32px;
    top: 30px;
}
.reread-container .time-iphone{
    display: none;
}
.reread-container .people-pc{
    position: relative;
    display: inline-block;
    left: 241px;
    top: -164px;
    z-index: -2;
}
.reread-container .people-iphone{
    display: none;
}

.reread-container .lead{
    padding: 10px 34px 36px 16px;
    position: relative;
    display: inline-block;
    width: 318px;
    height: 184px;
    left: 0px;
    background-color: #ffffff;
    top: -418px;
    color: #666666;
    font-size: 14px;
    line-height: 24px;
}
.lead .lead-top-img-pc{
    position: absolute;
    left: 4px;
    top: 6px;
}
.lead .lead-top-img-iphone{
    display: none;
}
.lead .lead-bottom-img{
    position: absolute;
    right: 8px;
    bottom: 0px;
}
.lead p {
    top: 30px;
    position: relative;
}
.reread-article{
    font-size: 14px;
    width: 650px;
    float: left;
}
.reread-article p{
    margin-top: 20px ;
    line-height: 34px;
}
.reread-article p span{
    font-weight: bold;
}
.reread-aside{
    width: 300px;
    float: right;
}
.reread-aside p{
    height: 24px;
    margin-bottom: 24px;
}
.reread-aside .aside-title-red{
    width: 4px;
    height: 20px;
    background-color:#db173b ;
    display: inline-block;
    margin-right: 10px;
}
.reread-aside .aside-title-review{
    font-family: "Microsoft YaHei";
    font-size: 20px;
    font-weight: bold;
}
.reread-aside .aside-title-more{
    position: relative;
    font-size: 12px;
    font-family: "Microsoft Sun";
    float: right;
    bottom: -10px;
}
.reread-aside .divBlock{
    font-size: 14px;
    height: 46px;
    margin-bottom: 36px;
    font-family: "Microsoft YaHei";
}
.reread-aside .aside-No{
    font-family: Arial;
    font-size: 12px;
    color: #b8b8b8;
}
.reread-aside .aside-num{
    display: inline-block;
    font-family: Arial;
    color:#db173b ;
    font-size: 16px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #eeeeee;
    text-align: center;
    line-height: 38px;
}
.reread-aside div .linkTitle{
    font-family: "Microsoft YaHei";
    float: right;
    width: 234px;
    height: 40px  ;
}
.reread-aside .weixin-share{
    height: 115px;
}
.reread-aside .weixin{
    margin: 0px;
    padding: 0px;
    float: right;
    display: inline-block;
    font-size: 14px;
    color: #666666;
}
.weixin .weixin-share-title{
    font-size: 16px;
    font-family: "Microsoft Sun";
    color: black;
    margin-bottom: 20px;
}
.weixin .weixin-share-title+div{
    margin-bottom: 10px;
}
.footer{ width:1000px; margin:0 auto;}
.footer .footlink{color:#000; height:28px; line-height:28px; padding-top:15px; border-top:1px solid #fff; overflow:hidden;}
.footer .footlink a{ color:#000;}
.footer .footlink span{padding:0 5px;}
.footer .fk_l{ float:left;}
.footer .fk_r{ width:200px; float:right;}
.footer .fk_r ul{ overflow:hidden;}
.footer .fk_r ul li{ height:28px; line-height:28px; overflow:hidden; float:left;}
.footer .fk_r ul .l_bg001{ background:url(http://y1.ifengimg.com/38716b164e0f5e63/2013/0716/nav0416_14.gif) no-repeat left 9px; padding-left:19px;}
.footer .fk_r ul .l_bg002{ background:url(http://y3.ifengimg.com/9db17ab793eef980/2013/0403/nav0416_17.gif) no-repeat left 9px; padding-left:17px; margin-left:18px;}
.footer .copyright{ font-family:Arial; color:#666; height:28px; line-height:28px; text-align:center; overflow:hidden;}
.footer .copyright span{ font-family:"ו";}
